body{
  font-family: Verdana; 
  margin: 0;
  padding: 0;
  font-size: 16pt; 
  background-image: url(../images/cloud.png);
}
body>header{
  font-family: Nova Flat;
  font-size: 64pt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.skip a{
  background: transparent;
  right: 0;
  padding: 6px;   
  position: absolute;
  margin-bottom:50px;
}

.indexheader{
  font-family: Nova Flat;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/lantern.jpg');
  background-size: cover;
}
.luheader{
  font-family: Nova Flat;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/luback.png');
  background-size: contain;
}

.xiangheader{
  font-family: Nova Flat;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/xiangback.png');
  background-size: contain;
}
.chuanheader{
  font-family: Nova Flat;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/chuanback.jpg');
  background-size: contain;
}
.huiheader{
  font-family: Nova Flat;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/huiback.jpg');
  background-size: 600px 200px;
  background-repeat: repeat;
}
.yueheader{
  font-family: Nova Flat;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/yueback.jfif');
  background-size: contain;
  background-repeat: repeat;
}
.minheader{
  font-family: Nova Flat;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/minback.jpeg');
  background-size: 600px 400px;
  background-repeat: repeat;
}
.zheheader{
  font-family: Nova Flat;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/zheback.png');
  background-size: 600px 400px;
  background-repeat: repeat;
}
.suheader{
  font-family: Nova Flat;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../images/suback.jpg');
  background-size: 600px 400px;
  background-repeat: repeat;f
}
.generalstart{
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left:5%;
  margin-right:5%;
}

nav .topnav{
  flex-wrap: wrap;
  padding-left: 5%;
  padding-right:5%;
  padding-bottom:5px;
  padding-top: 5px;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  background-color:#D0ECE7;
  color: black;
}
a{
  text-decoration: none;
}

nav a.active {
  display:flex;
  background-color: #F7EFC1;
  color: #535155;
  justify-content: space-between;
  padding-bottom:5px;
  padding-top:5px;
}

header > a{
  font-size:12pt;
  color:grey;
}



.container{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows:  auto auto auto;
  grid-row-gap: 30px;
  padding-top: 100px;
  margin-right: 5%;
  margin-left:5%;
  margin-bottom: 100px;
  }
.container img{
  object-fit: fill;
  overflow: hidden;
  width: 100%;
}



.grid-container{
  display: grid;
  grid-template-columns: 80px 400px 80px;
  grid-template-rows:  auto auto 100px;
  grid-row-gap: 30px;
  padding-top: 100px;
  margin-right: 5%;
  margin-left:5%;

}
.grid-container img{
  object-fit:fill;
  overflow: hidden;
}

 .about, .specialty-image{
  grid-column: 2/span 1;
}

.specialty{
  grid-column:2/span 1;
  grid-row: 2/span 1;
}
.specialty-image{
  grid-row: 2/span 1;
}
.specialty-image>img{
    object-fit:cover;
}



.text-block{
  background-color: rgba(255, 255, 255, .8);
  border: 5px solid #D0ECE7 ;
  padding: 30px;
  justify-self: center;
  align-self:center;
}

/*Flex*/
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top:50px;
  margin-left:5%;
  margin-right:5%;
  margin-bottom:100px;
  flex-direction: column;
}

.flex-item {
  width: 90%;
  height: 300px;
  margin: 10px;
  }


.flex-item>img{
   width: 100%; 
   height: 100%; 
   border: 3px solid black;

}

footer{
  position:fixed;
  left:0px;
  bottom:0px;
  width:100%;
  background:black;
  text-align:center;
  color: white;
  min-height: 60px;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid white;  
  border-radius: 10px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #D0ECE7 ;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: black;
}

.contact-container {
  color:white;
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  background-image: linear-gradient(rgba(255,255,255,0.33), rgba(255,255,255,0.33)),url(../images/lantern.jpg);
  background-size: cover;
  padding: 20px;
}

h2{
  
  text-align: center;
}

.para {
  margin-left: 6%;
  margin-right:6%;
  height: 350px;
  padding: 30px;
  width:auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 100px;
}
::-webkit-scrollbar {
display: none;
}

.paraitem {
  position: relative;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px black;
}

.smallp{
  padding-left: 20px;
  font-size: 10pt;
  color: black;
  text-shadow: 0 0 5px white;
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100%;
  z-index: -1;
}

.bg1::after {
  background-image: url('../images/g1.png');
}

.bg2::after {
  background-image: url(../images/g2.png);
}
.bg3 {
  background-image: url(../images/g3.png);
}
.bg4 {
  background-image: url(../images/g4.png);
}
.bg5 {
  background-image: url(../images/g5.png);
}
.bg6 {
  background-image: url(../images/g6.png);
}
.bg7 {
  background-image: url(../images/g7.png);
}
.bg8 {
  background-image: url(../images/g8.png);
}
.bg9 {
  background-image: url(../images/g9.png);
}
.bg10 {
  background-image: url(../images/g10.png);
}

@media all and (min-width: 1200px) {
  .parallax {
    background-attachment: scroll;
  }
  
  .generalstart{
  margin-left: 100px;
  margin-right: 100px;
    }
  .grid-container{
  grid-template-columns: 50px auto 800px auto 50px;
  grid-template-rows: 400px 400px 100px;

  }
}

@media all and (min-width: 850px){
  .generalstart{
  margin-left: 100px;
  margin-right: 100px;
}

  nav .topnav{
    flex-wrap: nowrap;
  }
  .container{
  position:relative;
  width:800px;
  height:600px; 
  margin:auto auto auto auto; 
  margin-bottom: 300px;
  text-align: center
  }
  .box{
  position:absolute;
  width:150px;
  height:150px;
  border-radius:150px;
}
.box img{
  width:100%;
  height:100%;
  border-radius:150px;
}
.dot{ position:absolute;
  width:10px;
  height:10px;
  }


  body>header{
    height:160px;
  }
  .grid-container{
  grid-template-columns: 50px auto 500px auto 50px;
  grid-template-rows: 400px 400px 100px;

  }

  nav{
    background-color: black;
    text-align: right;
    align-self: center;
  }


  .about{

    grid-column: 2 /span 2;
  }
  .specialty{
    grid-column: 3/-1;
  }
  .specialty-image{
    grid-column: 2/ span 2;
   max-height: 700px;
   overflow: hidden;
  }


.about-image{
   grid-column: 3/-1;
   max-height: 700px;
   overflow: hidden;
}
.about-img>img{
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.specialty, .specialty-image{
  grid-row:2/span 1;
}

.about, .about-image{
  grid-row: 1/span 1;
}

/*flex*/
.flex-container {
  display: flex;
  flex-direction:row;
}

.flex-item {
  width: 45%;
  height: 300px;
  margin: 10px;
  }

.flex-item:nth-child(3n) {
  width: 100%;
  height: 500px;
}

.flex-item>img{
   width: 100%; 
   height: 100%; 
   border: 3px solid black;
  }
}

 
}

@media (prefers-reduced-motion:reduce){
  #thank{
    -webkit-animation: none;
    animation: none;
  }
}


@-webkit-keyframes thank{
 100% { left: 0; }
}

@keyframes thank{
 100% { left: 0; }
} 

h3{
  margin-top:39px;
}

#bar{/*finished*/
  position:absolute;
  left: 50%;
  -webkit-animation:thank 2s forwards;
  animation:thank 2s forwards;
}